body {
    background: rgb(2, 2, 37);
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0;
}

.ani-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.ani-logo svg {
    height: 300px;
}